/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

img[src='/images/phind_v2.svg'] {
  content: url('https://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg') !important;
  width: 100px !important; /* Adjust as required */
  height: 35px !important; /* Adjust as required */
  display: inline-block !important;
}
